$theme_1: #222831;
$theme_2: #393e46;
$theme_3: #00adb5;
$theme_4: #00fff5;

$light_text: #eee;
$dark_text: #000;
$text_faded: #2b2b2b;

$faded: grey;
$danger: red;
$success: green;
$warning: #c28005;
$status: #c28005;

$primary_button: #000;

$container_sides_padding: 5%;

.text_link {
    text-decoration: none;
    color: $dark_text;
}

.danger {
    color: $danger;
}

.success {
    color: $success;
}

.bold {
    font-weight: bold;
}

.center {
    text-align: center !important;
}

.published {
    color: $success;
    font-weight: bold;
}

.faded {
    color: darken($faded, 20);
}

.inactive,
.unverified,
.draft {
    color: $danger;
}

.inactive_user,
.strike {
    text-decoration: line-through;
}

.shopping_cart {
    position: relative;

    span {
        position: absolute;
        top: -0.9em;
        right: -0.8em;
        width: 18px;
        aspect-ratio: 1;
        padding: 2px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.75em;
        font-weight: bold;
        background: green;
        color: $light_text;
        border-radius: 50%;
    }
}

.price {
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 0.5em;

    .new_price {
        color: $success;
        font-size: 1.15em;
    }

    .old_price {
        color: $danger;
        font-size: 0.8em;
        text-decoration: line-through;
    }
}

.fa-star {
    color: #ffd600;
}

.section_title {
    font-weight: bold;
    font-size: 1.35em;
    margin: 0 0 0.5em;
}

.list_style_none {
    list-style: none;
}