.cards {
    @include grid(3);
    gap: 1.5em;

    .card {
        border-radius: 8px;

        .image {
            position: relative;
            width: 100%;
            height: 200px;
            
            img {
                border-radius: 8px;
            }
        }

        .text {
            padding: 0 6px 4px;
            margin: 0.5em 0 0;
            
            .extra_details {
                display: flex;
                flex-wrap: wrap;
                margin: 0 0 0.5em;
                
                span {
                    font-size: 0.8em;
                    margin: 0 0.8em 0 0;
                }
            }

            .details {
                display: grid;
                gap: 0.5em;

                .title {
                    text-decoration: none;
                    color: $dark_text;
                    font-size: 1.12em;
                    font-weight: bold;
                }
            }
        }
    }
}

.product_card {
    .image {
        .percentage_discount {
            position: absolute;
            top: 10px;
            left: 6.5px;
            font-size: 0.75em;
            background: $danger;
            color: $light_text;
            padding: 4px 8px;
            border-radius: 16px;
            font-weight: bold;
        }

        .actions {
            position: absolute;
            bottom: 10px;
            right: 6.5px;

            form {
                button {
                    position: relative;
                    @include flex_center;
                    height: 45px;
                    width: 45px;
                    background: lighten($faded, 50);
                    box-shadow: 2px 2px 6px $dark_text;
                    color: $dark_text;
                    padding: 12px;
                    border-radius: 50%;
                    outline: none;
                    border: none;
                    font-size: 1.5em;

                    span {
                        font-size: 0.55em;
                        top: -5px;
                        right: -4px;
                    }
                }
            }
        }
    }

    .price_rating {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .price,
        .rating {
            display: flex;
            gap: 6px;
        }

        .rating {
            span {
                i {
                    color: #fbbf24;
                }

                font-size: 0.75em;
            }
        }
    }
}

.blog_card {
    .blog_content {
        color: $theme_2;
        p{
            line-height: 1.2;
        }
    }

    .link {
        a {
            color: blue;
            font-size: 0.8em;
            text-decoration: underline;
        }
    }
}

.Admin {
    .product_card {
        .image {
            .actions {
                form {
                    button {
                        background: lighten($faded, 50);
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                        padding: 4px;
                        font-size: 1.15em;
                    }
                }
            }
        }
    }
}