.Shop {
    .Header {
        margin: 0.5em 0 0;
        
        .container {
            display: flex;
            justify-content: center;

            input {
                width: 90%;
                padding: 8px 16px;
                border-radius: 32px;
                border: 1px solid grey;
                font-weight: bold;
            }
        }
    }

    .Products {
        .container {
            @include grid(4);
            gap: 2em 1.5em;
        }
    }
}

@media screen and (width >= 726px) {
    .Shop {
        .Header {
            .container {
                input {
                    width: 30%;
                }
            }
        }
    }
}