.Shop {
    .Header {
        margin: 0.5em 0 0;
        
        .container {
            display: flex;
            justify-content: center;

            input {
                width: 90%;
                padding: 8px 16px;
                border-radius: 32px;
                border: 1px solid grey;
                font-weight: bold;
            }
        }
    }

    .Categories {
        .container {
            display: flex;
            flex-wrap: wrap;
            gap: 0.4em;

            a {
                text-decoration: none;
                background: $theme-2;
                color: $text_color;
                font-size: 0.9em;
                padding: 2px 8px;
                border-radius: 16px;
            }
        }
    }

    .Products {
        .container {
            @include grid(4);
            gap: 2em 1.5em;
        }
    }
}

@media screen and (width >= 726px) {
    .Shop {
        .Header {
            .container {
                input {
                    width: 30%;
                }
            }
        }
    }
}